<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Ep 3: Lists, Conditionals, and Computed Properties</title>
  <script src="https://unpkg.com/vue@3"></script>
  <script src="https://cdn.tailwindcss.com"></script>

</head>

<body class="grid place-items-center h-screen">
  <div id="app">
    <section
      v-show="inprogressAssignments.length"
    >
      <h2 class="font-bold">Assignment</h2>

      <ul>
        <li 
          v-for="assignment in inprogressAssignments"
          :key="assignment.id"
        >
          <label>
            {{ assignment.name }}
            <input type="checkbox" v-model="assignment.completed">
          </label>
        </li>
      </ul>
    </section>

    <section 
      v-show="completedAssignments.length"
      class="mt-8"
    >
      <h2 class="font-bold">Completed</h2>

      <ul>
        <li 
          v-for="assignment in completedAssignments"
          :key="assignment.id"
        >
          <label>
            {{ assignment.name }}
            <input type="checkbox" v-model="assignment.completed">
          </label>
        </li>
      </ul>
  </div>
  
  <script>
    let app = {
      data() {
        return {
          assignments: [
            { name: 'Finish Project', completed: false, id: 1},
            { name: 'Read chapter 4', completed: false, id: 2},
            { name: 'Turn in homework', completed: false, id: 3}
          ]
        };
      },

      computed: {
        inprogressAssignments() {
          return this.assignments.filter(assignment => !assignment.completed);
        },
        completedAssignments() {
          return this.assignments.filter(assignment => assignment.completed);
        }
      }
    }
    Vue.createApp(app).mount('#app');
  </script>
</body>
</html>